$ID_BaseGreen: #5e7588;
$ID_BaseOchra: #a7943b;
$ID_BaseOchra-800: #d0c79e;
$ID_BaseOchra-600: #dfdac4;
$ID_White: white;
$ID_Black: black;
$ID_Black-800: rgba(0, 0, 0, 0.70);
$ID_Transparent: transparent;
$ID_LightGrey: #f3f3f4;
$ID_Grey: #a6b1bd;
$ID_MidGrey: #c3cad3;
$ID_Lavender: #bcbccb;
$ID_DirtyGrey: #fafafa;

$ID_Gray900: rgb(36, 37, 44); /* ID_ExtraDarkGray / #24252C */
$ID_Gray900-05: rgba($ID_Gray900, 5%);
$ID_Gray900-10: rgba($ID_Gray900, 10%);
$ID_Gray900-15: rgba($ID_Gray900, 15%);
$ID_Gray900-20: rgba($ID_Gray900, 20%);
$ID_Gray900-60: rgba($ID_Gray900, 60%);


