@import '../../../styles';

.item {
  border: rem(1px) solid $ID_Gray900-10;
  background-color: $ID_DirtyGrey;
  padding: rem(4px);
  margin-right: rem(4px);
}

.item-name {
  display: flex;
  align-items: center;
  color: $ID_Black-800;
  cursor: pointer;
  margin-bottom: rem(4px);
  padding: rem(4px);

  > span {
    color: $ID_Black;
  }

  &:hover {
    background-color: $ID_LightGrey;
    & >button {
      border: rem(1px) solid $ID_White;
    }
  }
}

.expanded {
  box-shadow: 0 rem(1px) rem(3px) $ID_LightGrey;
  margin-bottom: rem(5px);
}

i.material-icons {
  padding-right: rem(4px);
  font-weight: lighter;
}

i:hover {
  color: $ID_Black;
}

.item span {
  font-size: rem(16px);
  font-weight: bolder;
  padding: rem(8px);
  width: 100%;
}

button {
  display: inline-flex;
  align-items: center;
  padding: rem(8px) rem(16px);
  border-radius: rem(2px);
  font-size: rem(12px);
  font-weight: bolder;
  cursor: pointer;
  background-color: $ID_LightGrey;
  color: $ID_Black-800;
  border: none;
  white-space: nowrap;
}

button:hover {
  opacity: 0.8;
  background-color: $ID_Lavender;
}

.selected {
  background-color: $ID_Lavender;
  font-weight: bold;
}
