@import '../../styles';
:host {
  display: flex;
  height: 100%;
}

.list-container {
  width: 60%;
  flex-grow: 1;
  height: 100%;
}

.list-content {
  padding: rem(8px);
  margin-left: rem(28px);
  padding-bottom: rem(16px);
  display: flex;
}

.list-item {
  padding: rem(2px);
  color: $ID_Black-800;
  font-size: rem(14px);
  padding: rem(2px);
  margin-right: rem(20px);
}

.list-item span {
  margin-right: rem(8px);
}

.details-container {
  flex-grow: 1;
}
